.top-container{
  background-color: #ecf4f3;
  position:relative;
  padding-top: 100px;
}

.middle-container{
margin: 50px 0;
}

.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}

body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  margin:50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color:#66BFBF;
}

h2{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 2.5rem;
  color:#66BFBF;
}

h3{
  font-family: 'Shadows Into Light Two', cursive;
  color:#11999E;
}
p{
  line-height: 2;

}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom:none;
  width:4%;
  margin:60px auto;

}

a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color:#eaf6f6;
}

.copyright{
  color:#eaf6f6;
  font-size: 0.76rem;
  padding:20px 0;
}
.skills{
  margin-bottom: 100px;

}

.aboutMe{
  width: 25%;
  margin: 60px auto;
}
.filmmaker{
  font-weight: normal;
  line-height: 2;
}
.skill-row{
  width: 50%;
  text-align: left;
  margin: 60px auto;

}
.footer-link{
  color:#11999E;
}

.favfilm{
  font-family: 'Shadows Into Light Two', cursive;
  padding:0px 0px;
  color:#40514E;
  margin:3px;
}
.favfilm:hover{
  color:#11999E;
}

.film{
  text-decoration: underline;
}

.book{
  width:25%;
  float:left;
  margin-right: 30px;
}

.me{
  width: 300px;
  padding-top: 50px;
}



.coding{
  width:25%;
  float: right;
  margin-left: 30px;
}

.bottom-cloud{
  position:absolute;
  left:300px;
  bottom:300px;

}

.top-cloud{
  top:50px;
  right:300px;
  position:absolute;

}

.wannaBIG{
  font-family: 'Shadows Into Light Two', cursive;
  text-decoration: underline;

}
.invitation{
  font-family:'Montserrat',sans-serif;
}
.bnt {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.bnt:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.bnt:active {
	position:relative;
	top:1px;
}
